    <footer class="">
        <div class="container-fluid bg-first text-white">
            <div class="row justify-content-center">
                <div class="col-md-10 text-white">
                    <div class="row align-items-center py-5">
                        <div class="col-md-3 pr-5 ">
                            <h4 class=" mb-0 text-right">Closest Mallam<i class="fas fa-shopping-cart market-color"></i><br></h4>
                            <p class="text-right mb-0 small">locate the closest trader to you...</p>
                        </div>
                        <div class="col-md-6 ">
                            <form action="#">
                                <h6 class="font-weight-bold mb-1 head">NEW TO CLOSEST MALLAM?</h6>
                                <P class="small">Subscribe to our newsletter to get updates on our latest offer!</P>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="input-group input-group-sm float-left" >
                                            <div class="input-group-prepend ">
                                              <span class="input-group-text bg-white border border-0 footer-button"><i class="fas fa-envelope text-muted"></i></span>
                                            </div>
                                            <input type="text" class="form-control border border-0 footer-input" placeholder="Enter Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-4 p-0 m-0">
                                        <button type="button" class="btn btn-outline-light btn-sm ml-0 mr-2">MALE</button>
                                        <button type="button" class="btn btn-outline-light btn-sm ">FEMALE</button>
                                    </div>
                                </div>
                               
                            </form>
                        </div>
                        <div class="col-md-3 ">
                            <div class="">
                                <button class="btn btn-warning btn-sm float-left market-color mr-2"><i class="fas fa-shopping-cart fa-1x text-secondary"></i></button>
                                <div class="">
                                    <h6 class="font-weight-bold head mb-1">GET CLOSEST MALLAM APP</h6>
                                    <P class="small">Get access to exclusive offers!</P>
                                </div>
                                <button type="button" class="btn btn-outline-light btn-sm d-inline-flex justify-content-between align-items-center mr-2 p-05"><i class="fab fa-apple fa-2x text-white pr-1 m-0"></i>
                                    <span class="text-left">
                                        <p class=" mb-0 p-0 app-head">Download on the</p>
                                        <p class="font-weight-bold head mb-0 p-0 app-body">Apple Store</p>
                                    </span>
                                    </button>
                                    <button type="button" class="btn btn-outline-light btn-sm d-inline-flex justify-content-between align-items-center p-05"><i class="fab fa-google-play fa-2x text-white pr-1 m-0"></i>
                                    <span class="text-left">
                                        <p class=" mb-0 p-0 app-head">GET IT ON</p>
                                        <p class="font-weight-bold head mb-0 p-0 app-body">Google Play</p>
                                    </span>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-second text-white">
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <div class="row align-items-start p-5">
                        <div class="col-md-3 ">
                            <h6 class="font-weight-bold mb-2 head">LET US HELP YOU</h6>
                            <nav class="nav flex-column text-secondary">
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Help Center</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Contact Us</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">How to shop on Closest Mallam</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Delivery Options and timelines</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">How to return a product on Closest Mallam</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Coperate and bulk Purchases</a></li>
                                
                            </nav>
                        </div>
                        <div class="col-md-3">
                            <h6 class="font-weight-bold mb-2 head">ABOUT CLOSEST MALLAM</h6>
                            <nav class="nav flex-column text-secondary">
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">About Us</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Closest Mallam careers</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Closet Mallam Express</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Terms and Conditions</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Privacy plicy</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Ramadan Essentials</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Closest Mallam Prime</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Closest Mallam Prime</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Stay Safe</a></li>
                                
                            </nav>
                        </div>
                        <div class="col-md-3">
                            <h6 class="font-weight-bold mb-2 head">MAKE MONEY WITH CLOSEST MALLAM</h6>
                            <nav class="nav flex-column text-secondary">
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Sell on Closest Mallam</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Become an Affiliate Partner</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Become a Sales Consultant</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Become a Vendor Service Provider</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Become a Logistic Service Provider</a></li>                                
                            </nav>
                        </div>
                        <div class="col-md-3">
                            <h6 class="font-weight-bold mb-2 head">CLOSEST MALLAM INTERNATIONAL</h6>
                            <nav class="nav flex-column text-secondary">
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Nigeria</a></li>
                                <li class="nav-item"><a class="nav-link active text-lighter small p-0 mb-2 font-weight-lighter" href="#">Ghana</a></li>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <div class="row align-items-start pb-4 bottom-border">
                        <div class="col-md-3 ">
                            <h6 class="font-weight-bold mb-2 head">JOIN US ON</h6>
                            <nav class="nav  text-secondary">
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-facebook-f fa-lg mr-3"></i></a></li>
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-twitter fa-lg mr-3"></i></a></li>
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-youtube fa-lg mr-3"></i></a></li>
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fas fa-shopping-cart fa-lg mr-3"></i></a></li>
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-instagram fa-lg mr-3"></i></a></li>
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-twitter fa-lg mr-3"></i></a></li>
                                
                            </nav>
                        </div>
                        <div class="col-md-9">
                            <h6 class="font-weight-bold mb-2 head">PAYMENT METHODS & DELICERY PARTNERS</h6>
                            <nav class="nav  text-secondary">
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-cc-mastercard fa-lg mr-3"></i></a></li>
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-paypal fa-lg mr-3"></i></a></li>
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-viacoin fa-lg mr-3"></i></a></li>
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-cc-visa fa-lg mr-3"></i></a></li>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pt-3">
                <div class="col-md-10 ">
                    <div class="row align-items-center pb-4 bottom-border justify-content-center">
                        <div class="col-md-6 ">
                            <nav class="nav  text-secondary">
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-facebook-f fa-lg "></i>Food Vendor</a></li>
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-twitter fa-lg "></i>Electronics</a></li>
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fab fa-youtube fa-lg "></i>Cloths</a></li>
                                <li class="nav-item"><a class="nav-link text-light p-0 mb-2 font-weight-light" href="#"><i class="fas fa-shopping-cart fa-lg "></i>Just Anything...</a></li>                                
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
